<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <!-- 项目名称 -->
    <property name="projectName" value="pushlian" />

    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="log_dir" value="/uc/logs" />

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %highlight([%-5level] [%logger:%line] --%mdc{client} %red(%msg%n))</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 系统错误日志文件 -->
    <appender name="FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_dir}/${projectName}.log</file>
     	<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      		<!-- 日志保留最大size -->
      		<maxFileSize>1GB</maxFileSize>
    	</triggeringPolicy>
    	<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      		<fileNamePattern>${log_dir}/bak/${projectName}.%i.log.zip</fileNamePattern>
      		<!-- 超过最大值后分割数 -->
      		<minIndex>1</minIndex>
      		<maxIndex>10</maxIndex>
   		</rollingPolicy>
	    <encoder>
		  <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %highlight([%-5level] [%logger:%line] --%mdc{client} %red(%msg%n))</pattern>
		</encoder>
    </appender>

    <!-- 开发环境下的日志配置 -->
    <springProfile name="dev">
        <root level="info">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>
    </springProfile>

    <!-- 生产环境下的日志配置 -->
    <springProfile name="prod">
        <root level="warn">
            <appender-ref ref="FILE" />
        </root>
    </springProfile>
</configuration>